body{
    background-color: aquamarine;
}

.container{
    margin-right: 75%;
    float: right;
}

.textbox{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    background-color:coral;
    color: white;
}

.footer{
    color: red;
}

.form-group{
    background-color: coral;
    width: 50%;
    height: 25px;
    margin-right: 50%;
}