body{
    background-color:aliceblue
}

.container{
    margin-right: 75%;
}

.textbox{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    background-color: red;
    color: white;
}

.footer{
    background-color: bisque;
}

.form-group{
    background-color: coral;
    width: 50%;
    height: 25px;
    margin-right: 50%;
}